<div class="container">

    <input type="text" #searchVal class="form-control" placeholder="Search for a song..." (keyup.enter)="searchItem(searchVal.value)">
    <br><br>
    <button class="btn btn-primary" (click)='onButtonClick($event.target.value)' value='{{ label }}'>
        {{ label }}</button>
    <br><br>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" *ngFor="let song of searchResult; let i = index" [class.active]="id === i" (click)="onSongSelect(song, i)">{{ song.trackName }}</a>
    </div>
</div>